<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
    <!-- THE CONNECTIONSTRING HAS BEEN HIDDEN FOR CONFIDENTIALITY PURPOSES-->
  </connectionStrings>

	<system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
		<compilation debug="true" targetFramework="4.0"/>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<pages clientIDMode="AutoID"/>
	</system.web>
</configuration>
